{% extends 'base.html' %}
{% include 'header.html' %}
 
 
 
{% block title %} Home {% endblock %}
 
 
{% block body %}
<div class="container w-50">
<form action='' method = "POST">
    <div class="container" >
        <div class="mb-2">
            <label for="exampleInputEmail1" class="form-label font-weight-bold">Name</label>
            <input type = "text" name = "first_name" class="form-control" />
        </div>
        <div class="mb-2">
            <label for="exampleInputPassword1" class="form-label font-weight-bold">Mobile</label>
            <input type = "text" name = "last_name" class="form-control" />
        </div>
        <div class="mb-2">
            <label for="exampleInputPassword1" class="form-label font-weight-bold">Address</label>
            <input type = "text" name = "address" class="form-control" />
        </div> 
        <div class="mb-2">
            <label for="exampleInputPassword1" class="form-label font-weight-bold">Pincode</label>
            <input type = "text" name = "pincode" class="form-control" />
        </div> 
        <div class="mb-2">
            <label for="exampleInputPassword1" class="form-label font-weight-bold">State</label>
            <select name="country" class="form-control">
                <option value="Telangana">Telangana</option>
                <option value="AndhraPradesh">AndhraPradesh</option>
                <option value="Chennai">Chennai</option>
             </select>
        </div>
        <div class="mb-2"> 
            <!-- <label for="exampleInputPassword1" class="form-label font-weight-bold">Gender: </label> -->
            <input type = "radio" name = "gender"  value="male"/> Home &nbsp;&nbsp;
            <input type = "radio" name = "gender"  value="female"/> Work
        </div>
        <div class="mb-2">
            <!-- <label for="exampleInputPassword1" class="form-label font-weight-bold">Hobbies : </label> -->
            <input type="checkbox" name="hobbies"  value="cricket"> Make this default address<br>
            <!-- <input type="checkbox"  name="hobbies"  value="cricket"> Movies<br>
            <input type="checkbox"  name="hobbies"  value="tv"> TV -->
        </div> 
        
        <div>
            <input type="submit" name="submit" value="Save Address" class="btn mt-3" style="background-color: #D5D4FF;">
        </div>
    </div>
<!-- <table class="table"> -->
    <!-- <tr>
        <td>Book Name</td>
        <td><input type = "text" name = "first_name" class="form-control" /></td>
    </tr>
    <tr>
        <td>Author</td>
        <td><input type = "text" name = "last_name" class="form-control" /></td>
    </tr> -->
    <!-- <tr>
        <td>Address</td>
        <td><input type = "text" name = "address" class="form-control" /></td>
    </tr> -->
    <!-- <tr>
        <td>Email</td>
        <td><input type = "email" name = "email" class="form-control" /></td>
    </tr>

    <tr>
        <td>Password</td>
        <td><input type = "password" name = "password" class="form-control" /></td>
    </tr> -->

    <!-- <tr> 
        <td>Gender</td>
        <td>
        Male: <input type = "radio" name = "gender"  value="male"/>
         Female: <input type = "radio" name = "gender"  value="female"/>
        </td>
    </tr> -->

    <!-- <tr>
        <td>Hobbies</td>
        <td>
            Cricket : <input type="checkbox" name="hobbies"  value="cricket">
            Movies : <input type="checkbox"  name="hobbies"  value="cricket">
            TV : <input type="checkbox"  name="hobbies"  value="tv">

        </td>
    </tr> -->



    <!-- <tr>
        <td>Country</td>
        <td>
        <select name="country" class="form-control">
            <option value="india">India</option>
            <option value="usa">USA</option>
            <option value="australia">Australia</option>
         </select>
        </td>
    </tr> -->
    

    <!-- <tr>
        <td colspan="2">
            <input type="submit" name="submit" value="submit" class="btn btn-warning">
        </td>
       
    </tr>
</table>
   -->

<!-- <form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Book Name</label>
      <input type = "text" name = "first_name" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Author</label>
      <input type = "text" name = "last_name" class="form-control" />
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form> -->


  </form>

</div>
{% endblock %}


